<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link> 
</head>
<body ng-app="Personal-Banking">

<style>
body  {
  background-image: url("./background.jpg");
  background-color: #cccccc;
}
</style>

<div class="container" ng-controller="AccountController">
<div class="starter-template">
	<h1>
Welcome to Personal Banking	
</h1>	
<p class="lead">
Here, you can manage your all accounts
</p>	
</div>
<div class="alert alert-danger" ng-show="isError">
  <strong>Nah</strong> Please Enter Correct UserName and Password.
</div>
<h3>Sign In </h3>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="InputEmail1" ng-model="username" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="InputPassword1" ng-model="password" placeholder="Password">
  </div>
  <button type="button" class="btn btn-primary" ng-click="login()">Sign In</button>
  <button type="button" class="btn btn-secondary" ng-click="register_user()">Register</button>
  </form>
</div>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular-route.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular-cookies.js"></script>
</body>	
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="js/Chart.js"></script>
<script src="js/angular-chart.js"></script>
<script type="text/javascript" src="controllers/account_controller.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>
